__pycache__
.vscode
.pytest_cache
build
dist
*egg-info
*.ipynb_checkpoints
*.lammpstrj
*.pdf
*.png
debug.py
*.db
*.swp
.cache
.vim


# custom
scratch
build
compile_commands.json

# shared objects
*.so

# Vim swap files
*.swp
