[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pydantic = "*"
loguru = "*"
scipy = "*"
pytest = "*"
setuptools = "*"
jupyterlab = "*"
jupyter = "*"
lmptools = {path = "./dist/lmptools-0.1.1-py3-none-any.whl"}

[dev-packages]
faker = "*"
lmptools = {path = "./dist/lmptools-0.1.1-py3-none-any.whl"}

[requires]
python_version = "3.8"
